.productlist{
    width: 80%;
    margin: auto;
    overflow: scroll;
    height: 70vh;
}
.productlist::-webkit-scrollbar{
    display: none;
}
.table{
    width: 100%;
   margin-top: 2rem;
   border-spacing: 1rem;
   
   
}
/* .table,td{
    border: 1px solid black;
    
    
} */

tr{
    font-size: 1rem;
    text-align: center;
   
}
td{
    /* border: 1px solid black;        */
    border-radius: 1rem; 
    padding: 0;
    
}
td:nth-child(1){
    box-shadow: none;
    color: blue;
}
td:nth-child(2){
    transition: all 1.2s ease-out;
    border: none;
    box-shadow: none;
}
td:nth-child(2):hover{
    transform: scale(2.5);
    
}
td:nth-child(7){
    box-shadow: none;
    transition: all 0.5s ease;
}
td:nth-child(8){
    box-shadow: none;
    transition: all 0.5s ease;
}
td:nth-child(7):hover{
    border-radius: 1rem; 
    
}
td:nth-child(8):hover{
    border-radius: 1rem; 
    
}
td img{
    width: 100px;
    height: 80px;
}
td a{
    color: green;
    font-weight: bold;
}
.del{
    border: none;
    color: red;
    background: transparent;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    cursor: pointer;
}
.edit{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30%;
}
.edit a{
    font-size: 0.8rem;
}
.productlist p{
    color: red;
    font-size: 0.6rem;
}